<h1 class="center">Vets</h1>

<img src="../assets/images/vet2.png" class="center" alt="vet" />

@if (mode == 'list'){
<div class="center">
    <button mat-button color="primary" (click)="setMode('add')" class="center">Add a Vet</button>
</div>

<app-vet-card [vets]="vets" (deleteClicked)="deleteVet($event)" (editClicked)="editVet($event)" />
}

@if (mode === 'add') {
<app-add-vet-form (cancelClicked)="setMode('list')" (saveClicked)="createVet($event)" />
}

@if (mode === 'edit') {
<app-edit-vet-form [vet]="vet" (cancelClicked)="setMode('list')" (saveClicked)="updateVet($event)" />
}