<h1 class="center">Vets</h1>

<img src="../assets/images/vet2.png" class="center" alt="vet" />

@if (mode == 'list'){
<div class="center">
    <button mat-button color="primary" (click)="setMode('add')" class="center">Add a Vet</button>
</div>

<app-vet-card [vets]="vets" (deleteClicked)="deleteVet($event)" (editClicked)="editVet($event)" />
}

@if (mode === 'add') {
<mat-card appearance="raised" class="center card">
    <mat-card-content>
        <form [formGroup]="addVetForm" (ngSubmit)="addVet()">
            <mat-form-field class="form-input">
                <mat-label>First Name</mat-label>
                <input matInput required minlength="1" maxlength="24" name="firstName" formControlName="firstName" />
            </mat-form-field><br />
            <mat-form-field class="form-input">
                <mat-label>Last Name</mat-label>
                <input matInput required minlength="1" maxlength="24" name="lastName" formControlName="lastName" />
            </mat-form-field><br />
            <button mat-button type="submit" class="float-right" color="primary"
                [disabled]="!addVetForm.valid">Save</button>
            <button mat-button type="reset" class="float-right" color="accent" (click)="setMode('list')">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>
}

@if (mode === 'edit') {
<mat-card appearance="raised" class="center card">
    <mat-card-content>
        <form [formGroup]="editVetForm" (ngSubmit)="saveVet()">
            <mat-form-field class="form-input">
                <mat-label>First Name</mat-label>
                <input matInput required minlength="1" maxlength="24" name="firstName" formControlName="firstName" />
            </mat-form-field><br />
            <mat-form-field class="form-input">
                <mat-label>Last Name</mat-label>
                <input matInput required minlength="1" maxlength="24" name="lastName" formControlName="lastName" />
            </mat-form-field><br />
            <button mat-button type="submit" class="float-right" color="primary"
                [disabled]="!editVetForm.valid">Save</button>
            <button mat-button type="reset" class="float-right" color="accent" (click)="setMode('list')">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>
}