<h1 class="center">Pets</h1>

<img src="../assets/images/5pets.png" class="center" alt="5 pets" />

@if (mode == 'list'){
<div class="center">
    <button mat-button color="primary" (click)="setMode('add')" class="center">Add a Pet</button>
</div>
<mat-card *ngFor="let pet of pets" appearance="raised" class="card">
    <mat-card-header>
        <mat-card-title class="bold">{{pet.name}}</mat-card-title>
        <mat-card-content>
            <ul>
                <li>{{getSpeciesName(pet.speciesId)}}</li>
                <li>{{pet.gender}}</li>
                <li>{{pet.birthDate | date}}</li>
                <li [title]="getOwnerPhone(pet.ownerId)">{{getOwnerName(pet.ownerId)}}</li>
            </ul>
        </mat-card-content>
    </mat-card-header>
    <mat-card-actions style="justify-content: flex-end;">
        <button mat-button color="warn" class="float-right" (click)="deletePet(pet.id)">Delete</button>
        <button mat-button color="primary" class="float-right" (click)="editPet(
                pet.id,
                pet.name,
                pet.speciesId,
                pet.gender,
                pet.birthDate,
                pet.ownerId
                )">Edit</button>
    </mat-card-actions>
</mat-card>
}

@if (mode === 'add') {
<mat-card appearance="raised" class="center card">
    <mat-card-content>
        <form [formGroup]="addPetForm" (ngSubmit)="addPet()">
            <mat-form-field class="form-input">
                <mat-label for="name">Name</mat-label>
                <input matInput required minlength="1" maxlength="50" id="name" name="name" formControlName="name" />
            </mat-form-field><br />

            <mat-form-field class="form-input">
                <mat-label for="species">Species</mat-label>
                <mat-select id="species" formControlName="speciesId" required>
                    @for (species of allSpecies; track species) {
                    <mat-option [value]="species.id">{{species.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field><br />

            <div class="form-input left padded-left">
                <mat-radio-group class="form-input" formControlName="gender" required>
                    @for (gender of genders; track gender) {
                    <mat-radio-button [value]="gender">{{gender}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div><br />

            <mat-form-field class="form-input left">
                <mat-label for="birthDate">Birth Date</mat-label>
                <input matInput id="birthDate" [matDatepicker]="birthDate" formControlName="birthDate" required />
                <mat-datepicker-toggle matIconSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
            </mat-form-field><br />

            <mat-form-field class="form-input">
                <mat-label for="owner">Owner</mat-label>
                <mat-select id="owner" formControlName="ownerId">
                    @for (owner of owners; track owner) {
                    <mat-option [value]="owner.id">{{owner.lastName}}, {{owner.firstName}}</mat-option>
                    }
                </mat-select>
            </mat-form-field><br />

            <button mat-button type="submit" class="float-right" color="primary"
                [disabled]="!addPetForm.valid">Save</button>
            <button mat-button type="reset" class="float-right" color="accent" (click)="setMode('list')">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>
}

@if (mode === 'edit') {
    <mat-card appearance="raised" class="center card">
        <mat-card-content>
            <form [formGroup]="editPetForm" (ngSubmit)="updatePet()">
                <mat-form-field class="form-input">
                    <mat-label for="name">Name</mat-label>
                    <input matInput required minlength="1" maxlength="50" id="name" name="name" formControlName="name" />
                </mat-form-field><br />
    
                <mat-form-field class="form-input">
                    <mat-label for="species">Species</mat-label>
                    <mat-select id="species" formControlName="speciesId" required>
                        @for (species of allSpecies; track species) {
                        <mat-option [value]="species.id">{{species.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field><br />
    
                <div class="form-input left padded-left">
                    <mat-radio-group class="form-input" formControlName="gender" required>
                        @for (gender of genders; track gender) {
                        <mat-radio-button [value]="gender">{{gender}}</mat-radio-button>
                        }
                    </mat-radio-group>
                </div><br />
    
                <mat-form-field class="form-input left">
                    <mat-label for="birthDate">Birth Date</mat-label>
                    <input matInput id="birthDate" [matDatepicker]="birthDate" formControlName="birthDate" required />
                    <mat-datepicker-toggle matIconSuffix [for]="birthDate"></mat-datepicker-toggle>
                    <mat-datepicker #birthDate></mat-datepicker>
                </mat-form-field><br />
    
                <mat-form-field class="form-input">
                    <mat-label for="owner">Owner</mat-label>
                    <mat-select id="owner" formControlName="ownerId">
                        @for (owner of owners; track owner) {
                        <mat-option [value]="owner.id">{{owner.lastName}}, {{owner.firstName}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field><br />
    
                <button mat-button type="submit" class="float-right" color="primary"
                    [disabled]="!editPetForm.valid">Save</button>
                <button mat-button type="reset" class="float-right" color="accent" (click)="setMode('list')">Cancel</button>
            </form>
        </mat-card-content>
    </mat-card>
    }