<mat-card *ngFor="let procedure of procedures" appearance="raised" class="card">
    <mat-card-header>
        <mat-card-title class="bold">{{procedure.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: #b0bb94; padding: 10px;">{{procedure.cost | currency}}</mat-card-content>
    <mat-card-actions style="justify-content: flex-end;">
        <button mat-button color="primary" class="float-right" (click)="editProcedure(procedure)">Edit</button>
    </mat-card-actions>
</mat-card>