<h1 class="center">Species</h1>

<img src="../assets/images/pig.png" class="center" alt="vet" />

@if (mode == 'list'){
<div class="center">
    <button mat-button color="primary" (click)="setMode('add')" class="center">Add a Species</button>
</div>
<mat-card *ngFor="let s of species" appearance="raised" class="card">
    <mat-card-header>
        <mat-card-title class="bold">{{s.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: #b0bb94; padding: 10px;">
        {{s.description}}
    </mat-card-content>
    <mat-card-actions style="justify-content: flex-end;">
        <button mat-button color="warn" class="float-right" (click)="deleteSpecies(s.id)">Delete</button>
        <button mat-button color="primary" class="float-right"
            (click)="editSpecies(s.id, s.name, s.description)">Edit</button>
    </mat-card-actions>
</mat-card>
}

@if (mode === 'add') {
<mat-card appearance="raised" class="center card">
    <mat-card-content>
        <form class="center" [formGroup]="addSpeciesForm" (ngSubmit)="addSpecies()">
            <mat-form-field class="center form-input">
                <mat-label>Name</mat-label>
                <input matInput required minlength="1" maxlength="24" name="name" formControlName="name" />
            </mat-form-field><br />
            <mat-form-field class="center form-input">
                <mat-label>Description</mat-label>
                <textarea matInput required minlength="1" maxlength="300" cdkTextareaAutosize name="description"
                    formControlName="description"></textarea>
            </mat-form-field><br />
            <button mat-button type="submit" class="float-right" color="primary"
                [disabled]="!addSpeciesForm.valid">Save</button>
            <button mat-button type="reset" class="float-right" color="accent" (click)="setMode('list')">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>
}

@if (mode === 'edit') {
<mat-card appearance="raised" class="center card">
    <mat-card-content>
        <form class="center" [formGroup]="editSpeciesForm" (ngSubmit)="saveSpecies()">
            <mat-form-field class="center form-input">
                <mat-label>Name</mat-label>
                <input matInput required minlength="1" maxlength="24" name="name" formControlName="name" />
            </mat-form-field><br />
            <mat-form-field class="center form-input">
                <mat-label>Description</mat-label>
                <textarea matInput required minlength="1" maxlength="300" cdkTextareaAutosize name="description"
                    formControlName="description"></textarea>
            </mat-form-field><br />
            <button mat-button type="submit" class="float-right" color="primary"
                [disabled]="!editSpeciesForm.valid">Save</button>
            <button mat-button type="reset" class="float-right" color="accent" (click)="setMode('list')">Cancel</button>
        </form>
    </mat-card-content>
</mat-card>
}