mat-card-content{
    justify-content: center;
    text-align: center;
    padding: 0;
    
}

ul {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 450px;
    text-align: left;
}

ul>li {
    list-style-type: none;
    padding: 5px;
}