search {
    text-align: center;
    min-width: 300px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form {
    min-width: 300px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#search-filter {
    min-width: 300px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding: 10px;
}

ul>li {
    list-style-type: none;
    margin-bottom: 10px;
}

mat-slide-toggle span {
    font-size: 1.2em;
    font-family: josefin;
}

mat-panel-title {
    font-size: 1.0em;
    font-weight: bold;
    font-family: josefin !important;
}

mat-panel-description {
    font-size: 1.0em;
    font-family: josefin !important;
}

mat-tab-group {
    min-width: 300px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

mat-label {
    font-size: 1.3em;
    font-family: josefin;
}

.tab-header {
    font-size: 1.4em;
    font-family: josefin;
    font-weight: 900;
}