search {
    text-align: center;
    min-width: 400px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form {
    min-width: 400px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#search-filter {
    min-width: 400px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding: 10px;
}

ul>li {
    list-style-type: none;
    margin-bottom: 10px;
}

mat-checkbox span {
    font-size: 1.0em;
    font-family: decker;
}

mat-expansion-panel {
    min-width: 400px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

mat-panel-title {
    font-size: 1.0em;
    font-weight: bold;
    font-family: decker !important;
}

mat-panel-description {
    font-size: 1.0em;
    font-family: decker !important;
}