@charset "UTF-8";

.page-title {
    font-family: "abkk";
    font-size: 1.7em;
    color: #181926;
}

.mat-toolbar {
    padding: 10px;
    background-color: #949cbb;
    border-bottom: 3px solid #626880;
}

.mat-toolbar-row {
    justify-content: center;
}

nav a {
    margin: 5px;
    color: #424655;
    text-decoration: none;
    font-family: "decker";
    font-size: 1.1em;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav button {
    margin: 5px;
    color: #424655;
    font-family: "decker";
    font-size: 1.1em;
}

body {
    font-family: "decker", sans-serif;
}