<h1 class="center">Pets</h1>

<img src="../assets/images/5pets.png" class="center" alt="5 pets" />

@if (mode == 'list'){
<div class="center center-content">
    <button mat-button color="primary" (click)="setMode('add')">Add a Pet</button>
</div>
<app-pet-card [view]="'admin'" [pets]="pets" (editClicked)="editPet($event)" (bookClicked)="bookPet($event)" />
}

@if (mode === 'add') {
<app-add-pet-form [allSpecies]="allSpecies" [owners]="owners" (saveClicked)="createPet($event)"
    (cancelClicked)="setMode('list')" />
}

@if (mode === 'edit') {
<app-edit-pet-form [pet]="pet" [allSpecies]="allSpecies" [owners]="owners" (saveClicked)="updatePet($event)"
    (cancelClicked)="setMode('list')" />
}