/* You can add global styles to this file, and also import other style files */

@charset "UTF-8";

@font-face {
    font-family: abkk;
    src: url(../public/assets/fonts/AustieBostKittenKlub.ttf) format("truetype");
}

@font-face {
    font-family: josefin;
    src: url(../public/assets/fonts/JosefinSans-SemiBold.ttf) format("truetype");
}

html,
body {
    height: 100%;
    background-image: url(../public/assets/images/limestone.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    margin: 0;
    font-family: josefin !important;
    font-size: 1.1em;
}

h1 {
    font-family: abkk;
    font-size: 1.5em;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    text-align: center;
}

.form-input {
    width: 100%;
}

.mat-mdc-card-title {
    font-family: josefin !important;
}

.mdc-button__label {
    font-family: josefin !important;
}

.mat-mdc-card-actions {
    justify-content: right;
}

.card {
    padding: 20px;
    min-width: 300px;
    max-width: 750px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: josefin;
    font-size: larger;
    background-color: rgba(180, 190, 150, 0.5) !important;
}

.card:hover {
    background-color: rgba(180, 190, 150, 0.8) !important;
}

mat-card-content {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
    max-width: 450px;
    width: 80%;
    text-align: left;
}

a {
    text-decoration: none;
    color: #2c70b8;
}

.float-right {
    float: right;
}

img {
    margin: 20px;
}

button {
    font-size: 1.0em !important;
    font-weight: bold;
    margin: 5px;
}

.bold {
    font-weight: bolder !important;
}

.larger {
    font-size: x-large !important;
}

span.no-wrap {
    white-space: nowrap;
}

