<mat-card *ngFor="let booking of bookings" appearance="raised" class="card">
    <mat-card-header>
        <mat-card-title class="bold" [ngClass]="{'current-date': isCurrentDate(booking.date)}">{{booking.date | date}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: #b0bb94; padding: 10px;">
        <ul>
            <li>{{booking.pet.name}}</li>
            <li>{{booking.procedure.name}}</li>
            <li>Dr. {{booking.vet.lastName}}, {{booking.vet.firstName}}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions style="justify-content: flex-end;">
        <button mat-button color="primary" class="float-right" (click)="editBooking(booking)">Edit</button>
    </mat-card-actions>
</mat-card>
